<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Kill贰</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/css/app.css">
    <!--<link rel="stylesheet" href="/tools/uikit/2.24.3/css/uikit.min.css" />-->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/uak.docs.css" />

    <link rel="stylesheet" href="/tools/alertifyJS/alertify.core.css" />
    <link rel="stylesheet" href="/tools/alertifyJS/alertify.default.css" />
    <!--<link rel="stylesheet" href="/tools/pickerDateRange/dateRange.css" />-->

    <style>
        .tm-middle {
            min-height: 600px;
        }
        .uk-container{
            max-width: 88%;
        }
    </style>
</head>

<body class="tm-background">