

<div class="header segment">
    <div class="ui three column horizontally padded grid head_info">
        <div class="equal height row">
            <div class="red column">
                <h4>User:</h4><p>Hello {{user.username}} LV.{{user.level.num}}</p>
            </div>
            <div class="blue column">
                <h4>Wallet:</h4><p>当前账户余额: <span class="global_text_danger">{{user.wallet || 0}}</span> 元</p>
            </div>
            <div class="green column">
                <h4>News:</h4><p>{{headerBarNews.content}}</p>
            </div>
        </div>
    </div>
</div>