{{include 'headers'}}

{{include 'nav'}}

<!--<link rel="stylesheet" type="text/css" href="/tools/uikit-2.25.0/css/uikit.min.css">-->
<link rel="stylesheet" type="text/css" href="/tools/uikit-2.25.0/css/searchBar.css">
<link rel="stylesheet" type="text/css" href="/tools/uikit-2.25.0/css/components/autocomplete.css">
<link rel="stylesheet" type="text/css" href="/tools/unslider/css/unslider.css">
<link rel="stylesheet" type="text/css" href="/tools/MricodePagination/mricode.pagination.css">

<style>
    .uk-dropdown{
        width: 100%;
        top: 100%;
        background-color: white;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 5px;
        padding: 15px;
        background: #fff;
        color: #666;
        font-size: 1rem;
        vertical-align: top;
        border: 1px solid #d3d3d3;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0,0,0,.1);
    }
</style>

<div class="pusher">
    <div class="full height">
        <div class="header segment">
            <div class="container">
                <div class="ui two column centered grid">
                    <div class="column search_bar">
                        <div class="ui fluid action input uk-autocomplete" id="autocomplete">
                            <input placeholder="输入宝贝名称..." type="text" name="keyword" value="{{keyword}}">
                            <a class="ui button orange searchGoodBtn"><i class="search icon"></i>搜索</a>
                            <script type="text/autocomplete">
                            {{# autocompleteTemplate}}
                            </script>
                        </div>
                        <div class="search_babel ui grid">
                            <span class="four wide column"><a href="?keyword=食品">食品</a></span>
                            <span class="four wide column"><a href="?keyword=书籍">书籍</a></span>
                            <span class="four wide column"><a href="?keyword=游戏">游戏</a></span>
                            <span class="four wide column"><a href="?keyword=服装">服装</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui main container centered grid">
            <div class="banner">
                <ul>
                    {{each bannerList}}
                    <li style=" background-image: url('{{$value.url}}');"></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="ui main container grid goodsShow" style="margin-top: 5px">
            <div class="doubling four column row">
                {{if goodList.length != 0}}
                {{each goodList}}
                <div class="column">
                    <div class="ui card" style="margin-top: 10px" data-id="{{$value.id}}">
                        <div class="image dimmable">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted orange button addShopList" data-id="{{$value.id}}"><i class="shop icon"></i>加入购物车</div>
                                    </div>
                                </div>
                            </div>
                            {{if $value.sales > 100}}
                            <a class="ui corner red label"><i class="heart icon"></i></a>
                            {{else}}
                            <!--<a class="ui corner label"><i class="heart icon"></i></a>-->
                            {{/if}}
                            <img src="{{$value.headSrc}}">
                        </div>
                        <div class="content">
                            <div class="header">{{$value.name}}</div>
                            <div class="description" style="color: orange">{{$value.type}}</div>
                        </div>
                        <div class="extra content">
                            <a class="right floated created" style="color: red;font-weight: bold">{{$value.price}}元</a>
                            <span style="">总销量:{{$value.sales || 0}}</span>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <h2 class="ui orange header" style="width: 100%;text-align: center"><i class="frown icon"></i>很抱歉,没有搜索到宝贝</h2>
                {{/if}}
            </div>
            {{if pageNum > 1}}
            <div class="sixteen wide doubling two column centered row">
                <div id="page" class="m-pagination column"></div>
            </div>
            {{/if}}
        </div>
    </div>
</div>

<!--商品分页展示模板-->
<script id="GoodsShowTmpl" type="text/html">
    <% if(goodList.length != 0){ %>
    <% for(var i = 0;i < goodList.length;i ++){ %>
    <div class="column">
        <div class="ui card" style="margin-top: 10px" data-id="<%=goodList[i]._id %>">
            <div class="image dimmable">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui inverted orange button addShopList" data-id="<%=goodList[i]._id %>"><i class="shop icon"></i>加入购物车</div>
                        </div>
                    </div>
                </div>
                <% if(goodList[i].sales > 100){ %>
                <a class="ui corner red label"><i class="heart icon"></i></a>
                <% }else{ %>
                <!--<a class="ui corner label"><i class="heart icon"></i></a>-->
                <% } %>
                <img src="<%=goodList[i].headSrc %>">
            </div>
            <div class="content">
                <div class="header"><%=goodList[i].name %></div>
                <div class="description" style="color: orange"><%=goodList[i].type %></div>
            </div>
            <div class="extra content">
                <a class="right floated created" style="color: red;font-weight: bold"><%=goodList[i].price %>元</a>
                <span style="">总销量:<%=goodList[i].sales || 0 %></span>
            </div>
        </div>
    </div>
    <% } %>
    <% }else{ %>
    <h2 class="ui orange header" style="width: 100%;text-align: center"><i class="frown icon"></i>很抱歉,没有搜索到宝贝</h2>
    <% } %>
</script>

<!--清空购物车确认控制-->
<div class="ui modal basic addSuccess">
    <div class="header">
        <h1 class="ui header green" style="text-align: center">添加购物车成功</h1>
    </div>
</div>

<script src="/tools/unslider/js/unslider.js"></script>
<script src="/tools/template-native.js"></script>
<script src="/tools/uikit-2.25.0/js/uikit.min.js"></script>
<script src="/tools/uikit-2.25.0/js/components/autocomplete.min.js"></script>
<script src="/tools/MricodePagination/mricode.pagination.js"></script>

<script>
    $(document).ready(function(){
        var loadPage = (function(){
            {{if goodList.length !== 0}}
            //调整商品卡片高度
            var cardWidth = parseInt($(".card .image img").css("width").replace("px",""));
            var cardHeight = cardWidth * 1.1 +"px";
            $(".card .image img").css({"height":cardHeight});
            {{/if}}

            //加载轮播图
            $('.banner').unslider({
                speed: 500,               //  切换的速度
                delay: 3000,              //  切换的速度
                keys: false,               //  是否启用左右按钮控制slider切换
                fluid: false,              // 是否每次在容器大小改变的时候，修正slider的大小
                pause:true,                 //鼠标以上去是否暂停播放
                starting:function(){        //每次开始切换时回叫方法
                },
                complete:function(){         //每次完成切换时回叫方法
                },
                arrows: false,               //  是否显示左右箭头，用于slider切换
                dots: true                  //  是否显示白色圆点，用于slider切换
            });

            var renderNewPage = function(pageIndex){
                {{if keyword && keyword != ""}}
                var keyword = "{{keyword}}";
                {{else}}
                var keyword = "";
                {{/if}}

                $.ajax({
                    url:"MoreGoodsPage",
                    type:"GET",
                    data:{
                        pageIndex: pageIndex,
                        keyword: keyword
                    },
                    success: function(data){
                        var GoodsShowTmpl = template('GoodsShowTmpl', {goodList: data.res});
                        //如果有获取到数据则进行下一步
                        if(data.res.length != 0){
                            $(".goodsShow .doubling.four.column.row").empty();
                            $(".goodsShow .doubling.four.column.row").html(GoodsShowTmpl);

                            //额这东西要怎么委托啊卧槽
                            $('.card .dimmer').dimmer({on: 'hover'});

                            var cardWidth = parseInt($(".card .image img").css("width").replace("px",""));
                            var cardHeight = cardWidth * 1.1 +"px";
                            $(".card .image img").css({"height":cardHeight});
                        }
                    }
                })
            };

            $("#page").pagination({
                pageIndex:{{skipIndex}},
                total:{{pageNum}},
                pageSize: 1,
                showJump: true
            }).on("pageClicked", function (event, data) {
                if(history.pushState){
                    history.pushState({title:"无刷新更新url"}, "无刷新更新url", location.href.split("?")[0] + "?" + "keyword=" + "{{keyword}}" + "&pageIndex=" + data.pageIndex);
                }
                renderNewPage(data.pageIndex);
            }).on('jumpClicked', function (event, data) {
                if(history.pushState){
                    history.pushState({title:"无刷新更新url"}, "无刷新更新url", location.href.split("?")[0] + "?" + "keyword=" + "{{keyword}}" + "&pageIndex=" + data.pageIndex);
                }
                renderNewPage(data.pageIndex)
            })
        })();

        var loadConfig = (function(){
            $('.card .dimmer').dimmer({on: 'hover'});

            //点击商品卡片跳转
            $(".goodsShow").on('click','.ui.card',function(){
                $(".loading_page").html('<div class="ui text loader">玩命加载中...</div>');
                $(".loading_page").dimmer('show');

                var goodId = $(this).attr("data-id");
                window.location.href="/Goods/"+goodId;
            });

            //主页中的加入购物车按钮
            $('.addSuccess').modal('attach events', '.addShopList' );
            $(".goodsShow").on('click', ".addShopList", function(event){
                $('.addSuccess').modal('show');
                setTimeout(function(){ $('.addSuccess').modal('hide'); },600);

                event.stopPropagation();
                var goodId = $(this).attr("data-id");
                $.ajax({
                    url:"/ShoppingCart/add",
                    type:"PUT",
                    data:{
                        goodId: goodId
                    },
                    success:function(){
                        RefreshShoppingCart();
                    },
                    error:function(){
                        $(".loading_page").html('<h1 class="ui header model_inner red">添加失败,请再重试一次...</div>');
                        $(".loading_page").dimmer('show');
                    }
                });
            });

            var autocomplete = $.UIkit.autocomplete('#autocomplete',{
                source:'/search?',
                flipDropdown: true,
                minLength: 1,
            });

            $(document).on('click', '.searchGoodBtn', function(event){
                window.location.href = "?keyword=" + $("input[name='keyword']").val();
            });
            $(document).on('keyup', function(event){
                if(event.keyCode == "13"){
                    $('.searchGoodBtn').click();
                }
            })
        })();
    })
</script>


