{{include 'headers'}}

{{include 'nav'}}

<div class="pusher">
    <div class="full height">
        <div class="header segment">
            <div class="container">
                <div class="ui two column centered grid">
                    <div class="column search_bar">
                        <div class="ui fluid action input">
                            <input placeholder="输入宝贝名称..." type="text">
                            <button class="ui button orange"><i class="search icon"></i>搜索</button>
                        </div>
                        <div class="search_babel ui grid">
                            <span class="four wide column">测试</span>
                            <span class="four wide column">测试</span>
                            <span class="four wide column">测试</span>
                            <span class="four wide column">测试</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="main container"></div>
    </div>
</div>

<script src="/tools/jquery-2.0.3.min.js"></script>
<!--<script src="/tools/uikit/2.24.3/js/uikit.js"></script>-->
<script src="tools/semanticUI/semantic.min.js"></script>
<script src="/tools/template-native.js"></script>
<script src="/tools/MD5.js"></script>

<script>
    $(document).ready(function(){
        $(document).on('click','#conformLogin',function(){
            var username = $.md5(($("#username").val()));
            var password = $.md5(($("#password").val()));
            var remember = $("#remember").is(":checked");

            if(username!=undefined && password!=undefined){
                $.ajax({
                    url:"/",
                    type:"POST",
                    data:{
                        username: username,
                        password: password,
                        remember: remember
                    },
                    success:function(){
                        window.location.href="/analysis/gameinfo"
                    }
                })
            }


        })
    })
</script>

