<div class="ui fixed orange inverted menu">
    <a class="item" href="/">
        <i class="home icon"></i> 主页
    </a>
    <div class="right menu">
        {{if user.shoppingCart.length !== 0}}

        <div class="ui floating dropdown item" tabindex="0">
            <i class="shop icon"></i>
            <div class="ui red circular label">{{user.shoppingCart.length}}</div>
            <div class="menu" tabindex="-1" style="width: 20px">
                {{each user.shoppingCart}}
                <div class="item">
                    <img src="{{$value.headSrc}}">
                    <span style="font-size:10px;width: 50px">{{$value.name}}</span>
                    <span><input type="number"></span>
                </div>
                {{/each}}
                <button class="ui button red fluid" style="text-align: center">购买</button>
            </div>
        </div>
        {{/if}}
        {{if user=="未登录"}}
        <a class="item">
            <i class="user icon"></i> {{user}}
        </a>
        {{else if user.role == "User"}}
        <div class="ui floating dropdown item" tabindex="0">
            <i class="user icon"></i>
            <span class="text">{{user.username}}</span>
            <div class="menu" tabindex="-1">
                <div class="header">
                    操作
                </div>
                <div class="item">
                    <div class="ui red empty circular label"></div>
                    查看个人信息
                </div>
                <div class="item">
                    <div class="ui blue empty circular label"></div>
                    修改密码
                </div>
                <a class="item" href="/Orders">
                    <div class="ui black empty circular label"></div>
                    查询订单
                </a>
                <div class="item">
                    <div class="ui green empty circular label"></div>
                    标签 D
                </div>
            </div>
        </div>

        {{else if user.role == "Admin"}}
        <div class="ui floating dropdown item" tabindex="0">
            <i class="user icon"></i>
            <span class="text">{{user.username}}</span>
            <div class="menu" tabindex="-1">
                <div class="header">
                    操作
                </div>
                <div class="item">
                    <div class="ui red empty circular label"></div>
                    查看个人信息
                </div>
                <div class="item">
                    <div class="ui blue empty circular label"></div>
                    修改密码
                </div>
                <a class="item" href="/GoodsContr">
                    <i class="add square icon"></i>管理商品
                </a>
                <a class="item" href="/Orders">
                    <div class="ui black empty circular label"></div>
                    查询订单
                </a>
            </div>
        </div>

        {{else if user.role == "SuperAdmin"}}
        <div class="ui floating dropdown item" tabindex="0">
            <i class="user icon"></i>
            <span class="text">{{user.username}}</span>
            <div class="menu" tabindex="-1">
                <div class="header">
                    操作
                </div>
                <div class="item">
                    <div class="ui red empty circular label"></div>
                    查看个人信息
                </div>
                <div class="item">
                    <div class="ui blue empty circular label"></div>
                    修改密码
                </div>
                <div class="item">
                    <div class="ui black empty circular label"></div>
                    权限管理
                </div>
                <div class="item">
                    <div class="ui green empty circular label"></div>
                    管理商品
                </div>
            </div>
        </div>

        {{/if}}
        {{if user=="未登录"}}
        <a class="ui item" href="/login">
            登陆/注册
        </a>
        {{else}}
        <a class="ui item" href="/lose">
            注销
        </a>
        {{/if}}
    </div>
</div>

<div class="ui page inverted dimmer loading_page"></div>

<script src="/tools/jquery-2.0.3.min.js"></script>
<script src="/tools/semanticUI/semantic.min.js"></script>
<script>
    $('.ui.dropdown').dropdown();
    $('.ui.menu .dropdown').dropdown({on: 'hover'});

    $(document).on('click','a',function(){
        $(".loading_page").html('<div class="ui text loader">玩命加载中...</div>');
        $(".loading_page").dimmer('show');
    })
</script>

