{{include 'headers'}}

<style>
    body {

    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
        min-width: 320px;
    }

</style>
<div class="ui middle aligned center aligned grid">
    <div class="four wide column">
        <h1 class="ui green header" style="font-size: 65px">
            <div class="content">
                Sign Up
            </div>
        </h1>
        <form class="ui large form">
            <div class="field">
                <div class="ui icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="请输入用户名">
                </div>
            </div>
            <div class="field">
                <div class="ui icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password_1" placeholder="请输入密码">
                </div>
            </div>
            <div class="field">
                <div class="ui icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password_2" placeholder="再次输入密码">
                </div>
            </div>
            <div class="ui fluid large buttons">
                <div class="ui button green" id="singUp">确认</div>
                <div class="or"></div>
                <a href="/login" class="ui button teal">返回</a>
            </div>

            <div class="ui error message"></div>
        </form>
    </div>
</div>

<script src="/tools/jquery-2.0.3.min.js"></script>
<script src="/tools/semanticUI/semantic.min.js"></script>
<script src="/tools/template-native.js"></script>
<script src="/tools/MD5.js"></script>

<script>
    $(document).ready(function(){
        $(document).on('click','#singUp',function(){
//            var username = $.md5(($("#username").val()));
//            var password = $.md5(($("#password").val()));

            var username = $("input[name='username']").val();
            var password_1 = $("input[name='password_1']").val();
            var password_2 = $("input[name='password_2']").val();

            console.log(username+" "+password_1+" "+password_2)

            if(password_1 && password_2 && password_1 == password_2 && username){
                $.ajax({
                    url:"/signUp",
                    type:"POST",
                    data:{
                        username: username,
                        password: password_1
                    },
                    success:function(){
                        window.location.href="/login"
                    }
                })
            }


        })
    })
</script>