{{include './../headers'}}

{{include './../nav'}}

<link rel="stylesheet" type="text/css" href="/tools/webuploader-master/css/webuploader.css" />
<link rel="stylesheet" type="text/css" href="/tools/webuploader-master/examples/image-upload/style.css" />

<div class="pusher">
    <div class="full height">
        {{include './../headBar'}}
        <div class="ui centered grid main container">
            <div class="ui left very close rail">
                <div class="ui vertical steps">
                    <a class="active step">
                        <i class="star icon"></i>
                        <div class="content">
                            <div class="title">等级</div>
                            <div class="description">LV.{{user.level.num}}</div>
                        </div>
                    </a>
                    <a class="step">
                        <i class="payment icon"></i>
                        <div class="content">
                            <div class="title">账户余额</div>
                            <div class="description">￥{{user.wallet}}</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="fourteen wide column">
                <div class="ui four item orange menu controlTab">
                    <a class="item" id="slideBannerTab">轮播图</a>
                    <a class="item" id="changeInfoTab">预留1</a>
                    <a class="item" id="rechargeTab">预留2</a>
                    <a class="item" id="changePassTab">预留3</a>
                </div>
            </div>
            <div class="doubling two column row fourteen wide homeConfigShowPage slideBannerPage">
                <div class="ui sixteen wide grid">
                    <h3 class="ui horizontal header divider" style="margin-bottom: 30px;margin-top: 14px"><i class="tag icon"></i>所有轮播图</h3>
                    <div class="doubling two column row">
                        {{each banners}}
                        <div class="column" style="margin-bottom: 15px">
                            <div class="ui message">
                                <div class="header">
                                    <span>{{$value.title}}</span>
                                </div>
                                <div class="bannerShow" style="margin:10px 0px">
                                    <img style="width: 100%" src="{{$value.url}}">
                                </div>
                                <div class="bannerDescription">
                                    <p>{{$value.description}}</p>
                                </div>
                                <div class="ui tiny buttons bannerShowBtns" style="float: right" data-id="{{$value.id}}" data-href="{{$value.url}}" data-title="{{$value.title}}" data-des="{{$value.description}}">
                                    <div class="ui button updateBannerBtn">修改</div>
                                    <div class="or"></div>
                                    <div class="ui button deleteBannerBtn">删除</div>
                                </div>
                                <div style="clear: right"></div>
                            </div>
                        </div>
                        {{/each}}
                        <div class="column" style="margin-bottom: 15px">
                            <div class="ui message">
                                <div class="column ui animated fade button addBannerBtn" style="margin-top: 5px">
                                    <div class="visible content"><i class="plus icon"></i></div>
                                    <div class="hidden content">
                                        添加
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--图片上传模态框-->
<div class="ui modal addBannerShow">
    <i class="close icon"></i>
    <div class="content">
        <h3 class="ui blue header"><i class="icon cloud upload"></i> 选择图片并上传</h3>
        <div class="ui form" style="padding: 5px">
            <div class="two fields">
                <div class="field">
                    <label>标题</label>
                    <input name="title" type="text">
                </div>
            </div>
            <div class="field">
                <label>描述</label>
                <textarea name="description" rows="4"></textarea>
            </div>
            <div class="field">
                <label>图片上传</label>
                <div id="wrapper">
                    <div id="container">
                        <!--头部，相册选择和格式选择-->
                        <div id="uploader">
                            <div class="queueList">
                                <div id="dndArea" class="placeholder">
                                    <!--<div id="filePicker"></div>-->
                                    <br>
                                    <p>将照片拖到此处上传</p>
                                </div>
                            </div>
                            <div class="statusBar" style="display:none;">
                                <div class="progress">
                                    <span class="text">0%</span>
                                    <span class="percentage"></span>
                                </div><div class="info"></div>
                                <div class="btns">
                                    <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--修改banner模态框-->
<div class="ui modal updateBannerShow">
    <i class="close icon"></i>
    <div class="content">
    </div>
</div>

<!--修改banner模板-->
<script id="updateBannerTmpl" type="text/html">
    <h3 class="ui blue header"><i class="icon cloud upload"></i> 修改banner</h3>
    <div class="ui form" style="padding: 5px">
        <div class="two fields">
            <div class="field">
                <label>标题</label>
                <input name="title" type="text" value="<%=title %>">
            </div>
        </div>
        <div class="field">
            <label>描述</label>
            <textarea name="description" rows="4"><%=des %></textarea>
        </div>
    </div>
    <div class="actions" style="margin-top: 10px">
        <button class="ui primary button updateBannerConfirm" data-id="<%=id %>">
            保存修改
        </button>
    </div>
</script>

<!--删除确认控制模态框-->
<div class="ui basic demo modal check_modal">
    <div class="header">
        <h1>警告</h1>
    </div>
    <div class="content">
        <div class="image" style="float: left">
            <i class="warning sign red icon"></i>
        </div>
        <div class="description">
            <p>确认删除该Banner吗？<span class="global_text_warning">( 删除该Banner会同时删除该图片! )</span> </p>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                抱歉我点错了
            </div>
            <a data-id="" class="ui green ok basic inverted button deleteBannerConfirm">
                <i class="checkmark icon"></i>
                我没点错
            </a>
        </div>
    </div>
</div>

<!--反馈遮罩-->
<div class="ui modal basic answerPage">
    <div class="header"></div>
</div>

<script src="/tools/template-native.js"></script>
<script type="text/javascript" src="/tools/webuploader-master/dist/webuploader.js"></script>
<script type="text/javascript" src="/tools/webuploader-master/examples/image-upload/upload.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        var loadPage = (function(){
            $(".slideBannerPage").show();
        })();

        var loadConfig = (function(){

            $(".controlTab").on("click", "a", function(event){
                event.stopPropagation();
                var tabType = $(this).attr("id");

                $(".controlTab a").removeClass("active");
                $(this).addClass("active");

                switch (tabType){
                    case "slideBannerTab":
                        $(".homeConfigShowPage").hide();
                        $(".homeConfigShowPage.slideBannerPage").show();
                        break;
                }
            });

            $(".slideBannerPage").on("click", ".addBannerBtn", function(){
                $(".addBannerShow").modal("show");
            });

            $(document).on('click', '.deleteBannerBtn', function(){
                $(".check_modal a.ok").attr("data-id", $(this).parent().attr("data-id"));
                $(".check_modal a.ok").attr("data-href", $(this).parent().attr("data-href"));
                $(".check_modal a.ok").attr("data-title", $(this).parent().attr("data-title"));
                $('.check_modal').modal("show");
            });

            $(document).on('click', '.updateBannerBtn', function(){
                console.log($(this).parent().attr("data-title"));
                var updateBannerTmpl = template('updateBannerTmpl', {id: $(this).parent().attr("data-id"), title: $(this).parent().attr("data-title"), des: $(this).parent().attr("data-des")});
                $(".updateBannerShow .content").empty();
                $(".updateBannerShow .content").append(updateBannerTmpl);
                $('.updateBannerShow').modal("show");
            });

            $(".updateBannerShow").on("click", ".updateBannerConfirm", function(){
                $.ajax({
                    url: "/HomeConfig/update",
                    type: "PUT",
                    data: {
                        id: $(this).attr("data-id"),
                        title: $(".updateBannerShow input[name='title']").val(),
                        des: $(".updateBannerShow textarea[name='description']").val()
                    },
                    success: function(){
                        $('.answerPage .header').html("<h1 class='ui header green' style='text-align: center'>修改Banner成功!!!</h1>");
                        $('.answerPage').modal('show');

                        setTimeout(function(){
                            window.location.reload();
                        },700);
                    },
                    error: function(){
                        $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>修改Banner失败!!!</h1>");
                        $('.answerPage').modal('show');

                        setTimeout(function(){
                            window.location.reload();
                        },700);
                    }
                });
            });

            $(".check_modal").on("click", ".deleteBannerConfirm", function(event){
                event.stopPropagation();

                $.ajax({
                    url: "/HomeConfig/delete",
                    type: "delete",
                    data: {
                        id: $(this).attr("data-id"),
                        href: $(this).attr("data-href"),
                        title: $(this).attr("data-title")
                    },
                    success: function(){
                        $('.answerPage .header').html("<h1 class='ui header green' style='text-align: center'>删除Banner成功!!!</h1>");
                        $('.answerPage').modal('show');

                        setTimeout(function(){
                            window.location.reload();
                        },700);
                    },
                    error: function(){
                        $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>删除Banner失败!!!</h1>");
                        $('.answerPage').modal('show');

                        setTimeout(function(){
                            window.location.reload();
                        },700);
                    }
                });
            });
        })();
    })

</script>