{{include './../headers'}}

{{include './../nav'}}

<link rel="stylesheet" type="text/css" href="/tools/webuploader-master/css/webuploader.css" />
<link rel="stylesheet" type="text/css" href="/tools/webuploader-master/examples/image-upload/style.css" />

<div class="pusher">
    <div class="full height">
        {{include './../headBar'}}

        <div class="ui centered grid main container">
            <div class="ui left very close rail">
                <div class="ui vertical steps">
                    <a class="active step">
                        <i class="truck icon"></i>
                        <div class="content">
                            <div class="title">上一步</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                    <a class="completed step">
                        <i class="payment icon"></i>
                        <div class="content">
                            <div class="title">当前步骤</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                    <a class="step">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="title">禁用步骤</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="fourteen wide column">
                <div class="ui four item orange menu controlTab">
                    <a class="item" id="slideBannerTab">轮播图</a>
                    <a class="item" id="changeInfoTab">预留1</a>
                    <a class="item" id="rechargeTab">预留2</a>
                    <a class="item" id="changePassTab">预留3</a>
                </div>
            </div>
            <div class="doubling two column row fourteen wide homeConfigShowPage slideBannerPage">
                <div class="ui sixteen wide grid">
                    <h3 class="ui horizontal header divider" style="margin-bottom: 30px;margin-top: 14px"><i class="tag icon"></i>所有轮播图</h3>
                    <div class="doubling two column row">
                        <div class="column" style="margin-bottom: 15px">
                            <div class="ui message">
                                <div class="header">
                                    <span class="global_text_success">添加新banner</span>
                                </div>
                                <div class="ui animated fade button addBannerBtn" style="margin-top: 5px">
                                    <div class="visible content">添加</div>
                                    <div class="hidden content">
                                        <i class="plus icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--用户信息详情模态框-->
<div class="ui modal addBannerShow">
    <i class="close icon"></i>
    <div class="content">
        <h3 class="ui blue header"><i class="icon cloud upload"></i> 选择图片并上传</h3>
        <div class="ui form" style="padding: 5px">
            <div class="two fields">
                <div class="field">
                    <label>标题</label>
                    <input name="title" type="text">
                </div>
            </div>
            <div class="field">
                <label>描述</label>
                <textarea name="description" rows="4"></textarea>
            </div>
            <div class="field">
                <label>图片上传</label>
                <div id="wrapper">
                    <div id="container">
                        <!--头部，相册选择和格式选择-->
                        <div id="uploader">
                            <div class="queueList">
                                <div id="dndArea" class="placeholder">
                                    <!--<div id="filePicker"></div>-->
                                    <br>
                                    <p>将照片拖到此处上传</p>
                                </div>
                            </div>
                            <div class="statusBar" style="display:none;">
                                <div class="progress">
                                    <span class="text">0%</span>
                                    <span class="percentage"></span>
                                </div><div class="info"></div>
                                <div class="btns">
                                    <div id="filePicker2"></div><div class="uploadBtn">开始上传</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--反馈遮罩-->
<div class="ui modal basic answerPage">
    <div class="header"></div>
</div>

<script src="/tools/template-native.js"></script>
<script type="text/javascript" src="/tools/webuploader-master/dist/webuploader.js"></script>
<script type="text/javascript" src="/tools/webuploader-master/examples/image-upload/upload.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        var loadPage = (function(){
            $(".slideBannerPage").show();
        })();

        var loadConfig = (function(){

            $(".controlTab").on("click", "a", function(event){
                event.stopPropagation();
                var tabType = $(this).attr("id");

                $(".controlTab a").removeClass("active")
                $(this).addClass("active");

                switch (tabType){
                    case "slideBannerTab":
                        $(".homeConfigShowPage").hide();
                        $(".homeConfigShowPage.slideBannerPage").show();
                        break;
                }
            });

            $(".slideBannerPage").on("click", ".addBannerBtn", function(){
                $(".addBannerShow").modal("show");
            });

        })();
    })

</script>