{{include './../headers'}}

{{include './../nav'}}

<link rel="stylesheet" type="text/css" href="/tools/webuploader-master/css/webuploader.css" />
<link rel="stylesheet" type="text/css" href="/tools/webuploader-master/examples/image-upload/style.css" />

<div class="pusher">
    <div class="full height">
        {{include './../headBar'}}

        <div class="ui centered grid main container">
            <div class="ui left very close rail">
                <div class="ui vertical steps">
                    <a class="active step">
                        <i class="truck icon"></i>
                        <div class="content">
                            <div class="title">上一步</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                    <a class="completed step">
                        <i class="payment icon"></i>
                        <div class="content">
                            <div class="title">当前步骤</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                    <a class="step">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="title">禁用步骤</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="fourteen wide column">
                <div class="ui four item orange menu controlTab">
                    <a class="item" id="slideBannerTab">轮播图</a>
                    <a class="item" id="changeInfoTab">预留1</a>
                    <a class="item" id="rechargeTab">预留2</a>
                    <a class="item" id="changePassTab">预留3</a>
                </div>
            </div>
            <div class="doubling two column row fourteen wide authorityShowPage">
                <div class="ui sixteen wide grid">
                    <h3 class="ui horizontal header divider" style="margin-bottom: 30px"><i class="tag icon"></i>所有轮播图</h3>
                    <div class="doubling three column row">
                        <div class="column" style="margin-bottom: 15px">
                            <div class="ui message">
                                <div class="header">
                                    <span class="global_text_danger">添加新banner</span>
                                </div>
                                <div class="authorityBtns">
                                    <div class="ui button authorityDetailBtn">详情</div>
                                    <div class="ui button authorityResetBtn">重置</div>
                                    <div class="ui button authorityDeleteBtn">删除</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div id="wrapper">-->
    <!--<div id="container">-->
        <!--&lt;!&ndash;头部，相册选择和格式选择&ndash;&gt;-->

        <!--<div id="uploader">-->
            <!--<div class="queueList">-->
                <!--<div id="dndArea" class="placeholder">-->
                    <!--<div id="filePicker"></div>-->
                    <!--<p>或将照片拖到这里，单次最多可选300张</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="statusBar" style="display:none;">-->
                <!--<div class="progress">-->
                    <!--<span class="text">0%</span>-->
                    <!--<span class="percentage"></span>-->
                <!--</div><div class="info"></div>-->
                <!--<div class="btns">-->
                    <!--<div id="filePicker2"></div><div class="uploadBtn">开始上传</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<script src="/tools/template-native.js"></script>
<script type="text/javascript" src="/tools/webuploader-master/dist/webuploader.js"></script>
<script type="text/javascript" src="/tools/webuploader-master/examples/image-upload/upload.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        var loadPage = (function(){
            $(".slideBannerPage").show();
        })();

        var loadConfig = (function(){
            $('select.dropdown').dropdown();

            $(".controlTab").on("click","a",function(event){
                event.stopPropagation();
                var tabType = $(this).attr("id");

                $(".controlTab a").removeClass("active")
                $(this).addClass("active");

                switch (tabType){
                    case "slideBannerTab":
                        $(".homeConfigShowPage").hide();
                        $(".homeConfigShowPage.slideBannerPage").show();
                        break;
                    case "changeInfoTab":
                        $(".personalShowPage").hide();
                        $(".personalShowPage.changeInfoPage").show();
                        break;
                    case "rechargeTab":
                        $(".personalShowPage").hide();
                        $(".personalShowPage.rechargePage").show();
                        break;
                    case "changePassTab":
                        $(".personalShowPage").hide();
                        $(".personalShowPage.changePassPage").show();
                        break;
                }
            })

        })();
    })

</script>