{{include './../headers'}}

{{include './../nav'}}

<div class="pusher">
    <div class="full height">
        <div class="header segment">
            <div class="ui three column horizontally padded grid head_info">
                <div class="equal height row">
                    <div class="red column">
                        <h3>Hello {{user.username}}</h3>
                    </div>
                    <div class="blue column">
                        <p>当前账户余额: <span class="global_text_danger">{{user.wallet || 0}}</span> 元</p>
                    </div>
                    <div class="green column">
                        <p>这是一个长行，旁边有很多文本内容。</p>
                        <p>可能会占用很多段落。</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui centered grid main container">
            <div class="ui left very close rail">
                <div class="ui vertical steps">
                    <a class="active step">
                        <i class="truck icon"></i>
                        <div class="content">
                            <div class="title">上一步</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                    <a class="completed step">
                        <i class="payment icon"></i>
                        <div class="content">
                            <div class="title">当前步骤</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                    <a class="step">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="title">禁用步骤</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="fourteen wide column">
                <div class="ui four item orange menu">
                    <a class="active item" id="personalInfoTab">
                        个人信息
                    </a>
                    <a class="item">
                        修改信息
                    </a>
                    <a class="item">
                        在线充值
                    </a>
                    <a class="item">
                        修改密码
                    </a>
                </div>
            </div>
            <div class="doubling two column row fourteen wide personalInfoPage" style="display: none">
                <h3 class="ui horizontal orange header divider"><i class="tag icon"></i>基本信息</h3>
                <div class="column">
                    <div class="ui card" style="margin: 0 auto">
                        <div class="image dimmable">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">添加好友</div>
                                    </div>
                                </div>
                            </div>
                            <img src="/upload/Users/head/test.png">
                        </div>
                        <div class="content">
                            <div class="header">陈卓</div>
                            <div class="description">
                                {{if user.sign != ""}}
                                    {{user.sign}}
                                {{else}}
                                    这个家伙很懒,什么都没有留下...
                                {{/if}}
                            </div>
                        </div>
                        <div class="extra content">
                            <a class="right floated created">随机</a>
                            <a class="friends">
                                随机</a>
                        </div>
                    </div>
                </div>
                <div class="column baseInfo">
                    <div class="ui divided very relaxed list">
                        <div class="item baseInfo_account">
                            <i class="star icon"></i>
                            <div class="content" style="width: 100%;">
                                <div class="header" style="margin-bottom: 20px">用户信息</div>
                                <div class="discription ui sixteen wide grid">
                                    <div class="six wide column inputLable">用户名</div>
                                    <div class="ten wide column inputInfo personal_username">{{user.username}}</div>
                                </div>
                                <div class="discription ui sixteen wide grid">
                                    <div class="six wide column">昵称</div>
                                    <div class="ten wide column inputInfo personal_username">
                                        {{if user.nickname !== ""}}
                                        {{user.nickname}}
                                        {{else}}
                                        未设置 <a href="#">前往设置<i class="icon share"></i></a>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item baseInfo_account">
                            <i class="star icon"></i>
                            <div class="content" style="width: 100%;">
                                <div class="header" style="margin-bottom: 20px">账户信息</div>
                                <div class="discription ui sixteen wide grid">
                                    <div class="six wide column">账户余额</div>
                                    <div class="ten wide column inputInfo personal_username">{{user.wallet}}元 <a href="#">前往充值<i class="icon share"></i></a></div>
                                </div>
                                <div class="discription ui sixteen wide grid">
                                    <div class="six wide column">总计消费</div>
                                    <div class="ten wide column inputInfo personal_username">{{user.cost}}元</div>
                                </div>
                            </div>
                        </div>
                        <div class="item baseInfo_account">
                            <i class="star icon"></i>
                            <div class="content" style="width: 100%;">
                                <div class="header" style="margin-bottom: 20px">权限信息</div>
                                <div class="discription ui sixteen wide grid">
                                    <div class="six wide column">用户身份</div>
                                    <div class="ten wide column inputInfo personal_username">{{user.role}}</div>
                                </div>
                                <div class="discription ui sixteen wide grid">
                                    <div class="six wide column">用户等级</div>
                                    <div class="ten wide column inputInfo personal_username">{{user.level}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui sixteen wide grid" style="margin-top: 40px">
                    <h3 class="ui horizontal orange header divider"><i class="tag icon"></i>最近消息</h3>
                    <div class="doubling four column row">
                        {{if news.length != 0}}
                            {{each news}}
                                {{if $value.type == 1}}
                                <div class="column" style="margin-bottom: 15px">
                                    <div class="ui blue message">
                                        <div class="header">
                                            新用户注册
                                        </div>
                                        <p>{{$value.content}}</p>
                                    </div>
                                </div>
                                {{else if $value.type == 2}}
                                <div class="column" style="margin-bottom: 15px">
                                    <div class="ui green message">
                                        <div class="header">
                                            消费
                                        </div>
                                        <p>{{$value.content}}</p>
                                    </div>
                                </div>
                                {{else if $value.type == 3}}
                                <div class="column" style="margin-bottom: 15px">
                                    <div class="ui red message">
                                        <div class="header">
                                            商品操作
                                        </div>
                                        <p>{{$value.content}}</p>
                                    </div>
                                </div>
                                {{/if}}
                            {{/each}}
                        {{else}}
                        <h3 class="global_text_danger">暂时没有新消息哟</h3>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{include './ChangeInfo-Page'}}
            {{include './Recharge-Page'}}
            {{include './ChangePass-Page'}}
            {{include './SecPassword-Page'}}
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function(){
        var loadConfig = (function(){
            $('select.dropdown').dropdown();
        })();
    })

</script>
