<div class="doubling column row fourteen wide grid secPassPage personalShowPage" style="display: none;">
    {{if user.secPassword == ""}}
    <h3 class="ui horizontal orange header divider"><i class="tag icon"></i>设置二级密码</h3>
    <div class="fourteen wide column setSecPass">
        <div class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>密码</label>
                    <input name="passWord" type="password" placeholder="输入您的密码...">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>二级密码</label>
                    <input name="secPass" type="password" placeholder="输入您要设置的二级密码...">
                </div>
            </div>
        </div>
        <button class="ui green animated button" id="setSecPassBtn">
            <div class="visible content"><i class="save icon"></i>确认设置</div>
            <div class="hidden content"><i class="right arrow icon"></i>点击</div>
        </button>
    </div>
    {{else}}
    <h3 class="ui horizontal orange header divider"><i class="tag icon"></i>修改二级密码</h3>
    <div class="fourteen wide column changeSecPass">
        <div class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>密码</label>
                    <input name="passWord" type="password" placeholder="输入您的密码...">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>旧二级密码</label>
                    <input name="oldSecPass" type="password" placeholder="输入旧的二级密码...">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>新二级密码</label>
                    <input name="newSecPass" type="password" placeholder="输入新的二级密码...">
                </div>
            </div>
        </div>
        <button class="ui green animated button" id="changeSecPassBtn">
            <div class="visible content"><i class="save icon"></i>确认修改</div>
            <div class="hidden content"><i class="right arrow icon"></i>点击</div>
        </button>
    </div>
    {{/if}}
</div>


<script>
    $(document).on("click",".secPassPage button",function(){
        var btnType = $(this).attr("id");

        switch (btnType){
            case "setSecPassBtn":
                if(!$(".setSecPass input[name='passWord']").val() || !$(".setSecPass input[name='secPass']").val()){
                    $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>别闹了,快把信息输入完整!!!</h1>");
                    $('.answerPage').modal('show');
                }else{
                    $.ajax({
                        url: "Personal/SetSecPass",
                        type: "PUT",
                        data: {
                            passWord: $(".setSecPass input[name='passWord']").val(),
                            secPass: $(".setSecPass input[name='secPass']").val(),
                            modify_time : new Date(),
                            type: "SetSecPass"
                        },
                        success: function(data){
                            if(data.code == 1000){
                                $('.answerPage .header').html("<h1 class='ui header green' style='text-align: center'>设置二级密码成功!!!</h1>");
                                $('.answerPage').modal('show');
                                setTimeout(function(){
                                    window.location.reload();
                                },500);
                            } else{
                                $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>"+data.res+"</h1>");
                                $('.answerPage').modal('show');
                            }
                        },
                        error: function(){
                            $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>设置二级密码失败!!!</h1>");
                            $('.answerPage').modal('show');
                        }
                    });
                }
                break;
            case "changeSecPassBtn":
                if(!$(".changeSecPass input[name='passWord']").val() || !$(".changeSecPass input[name='oldSecPass']").val() || !$(".changeSecPass input[name='newSecPass']").val()){
                    $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>别闹了,快把信息输入完整!!!</h1>");
                    $('.answerPage').modal('show');
                }else {
                    $.ajax({
                        url: "Personal/SetSecPass",
                        type: "PUT",
                        data: {
                            passWord: $(".changeSecPass input[name='passWord']").val(),
                            oldSecPass: $(".changeSecPass input[name='oldSecPass']").val(),
                            secPass: $(".changeSecPass input[name='newSecPass']").val(),
                            modify_time: new Date(),
                            type: "ChangeSecPass"
                        },
                        success: function (data) {
                            if (data.code == 1000) {
                                $('.answerPage .header').html("<h1 class='ui header green' style='text-align: center'>修改二级密码成功!!!</h1>");
                                $('.answerPage').modal('show');
                                setTimeout(function () {
                                    window.location.reload();
                                }, 500);
                            } else {
                                $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>" + data.res + "</h1>");
                                $('.answerPage').modal('show');
                            }
                        },
                        error: function () {
                            $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>修改二级密码失败!!!</h1>");
                            $('.answerPage').modal('show');
                        }
                    });
                }
                break;
        }
    });
</script>
