<div class="doubling column row fourteen wide grid changePassPage">
    {{if user.secPassword == ""}}
    <h3 class="ui horizontal orange header divider"><i class="tag icon"></i>设置二级密码</h3>
    <div class="fourteen wide column">
        <div class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>旧二级密码</label>
                    <input name="oldPass" type="password" placeholder="输入旧密码...">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>新二级密码</label>
                    <input name="newPass" type="password" placeholder="输入新密码...">
                </div>
            </div>
        </div>
        <button class="ui green button" id="changePassBtn">
            <i class="save icon"></i>确认修改
        </button>
    </div>
    {{else}}
    <h3 class="ui horizontal orange header divider"><i class="tag icon"></i>修改二级密码</h3>
    <div class="fourteen wide column">
        <div class="ui form">
            <div class="two fields">
                <div class="field">
                    <label>旧二级密码</label>
                    <input name="oldPass" type="password" placeholder="输入旧密码...">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>新二级密码</label>
                    <input name="newPass" type="password" placeholder="输入新密码...">
                </div>
            </div>
        </div>
        <button class="ui green button" id="changePassBtn">
            <i class="save icon"></i>确认修改
        </button>
    </div>
    {{/if}}
</div>
