{{include './../headers'}}

{{include './../nav'}}

<div class="pusher">
    <div class="full height">
        {{include './../headBar'}}

        <div class="ui centered grid main container">
            <div class="ui left very close rail">
                <div class="ui vertical steps">
                    <a class="active step">
                        <i class="truck icon"></i>
                        <div class="content">
                            <div class="title">上一步</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                    <a class="completed step">
                        <i class="payment icon"></i>
                        <div class="content">
                            <div class="title">当前步骤</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                    <a class="step">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="title">禁用步骤</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="doubling two column row fourteen wide authorityShowPage">
                <div class="ui sixteen wide grid">
                    <h3 class="ui horizontal header divider" style="margin-bottom: 30px"><i class="tag icon"></i>所有用户</h3>
                    <div class="doubling three column row">
                        {{each userList}}
                        <div class="column" style="margin-bottom: 15px">
                            <div class="ui message">
                                <div class="header">
                                    <span class="global_text_danger">{{$value.role}}</span>账号
                                </div>
                                <p style="color:darkgrey;font-size:13px">LV.{{$value.level.num}}</p>
                                <p style="font-weight: bold">{{$value.username}}
                                    {{if $value.apply != ""}}
                                    <i class="icon green alarm applyDetailBtn" data-html="<div class='header'>用户申请</div><div class='content'><p class='global_text_success'>请求用户权限提升为 {{$value.apply}}</p><button class='ui green button applyDetailComfirmBtn' data-id='{{$value.id}}' data-apply='{{$value.apply}}'>批准申请</button></div>"></i>
                                    {{/if}}
                                </p>
                                <div class="authorityBtns" data-id="{{$value.id}}">
                                    <div class="ui button authorityDetailBtn">详情</div>
                                    <div class="ui button authorityResetBtn">重置</div>
                                    <div class="ui button authorityDeleteBtn">删除</div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--反馈遮罩-->
<div class="ui modal basic answerPage">
    <div class="header"></div>
</div>

<!--用户信息详情模态框-->
<div class="ui long coupled modal authorityDetailShow">
    <i class="close icon"></i>
    <div class="content">
        <div class="description"></div>
    </div>
    <div class="actions">
        <button class="ui primary button authorityConfirmChange">确认修改</button>
    </div>
</div>

<!--删除确认控制模态框-->
<div class="ui basic demo modal check_modal">
    <div class="header">
        <h1>警告</h1>
    </div>
    <div class="content">
        <div class="image" style="float: left">
            <i class="warning sign red icon"></i>
        </div>
        <div class="description">
            <p>确认删除该用户吗？<span class="global_text_warning">( 删除该用户会同时删除其所有订单信息和用户消息! )</span> </p>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                抱歉我点错了
            </div>
            <a data-id="" class="ui green ok basic inverted button deleteUser">
                <i class="checkmark icon"></i>
                确认删除
            </a>
        </div>
    </div>
</div>


<!--用户信息详情模板-->
<script id="authorityDetailTmpl" type="text/html">
    <h3 class="ui red header">
        <i class="user icon"></i><div class="content"> <%=user.username %></div>
        <div class="sub header">账户余额:
            <span class="global_text_warning"><%=user.wallet %></span> 总计消费: <span class="global_text_warning"><%=user.cost %></span><br>
            <span>
                <% if(user.apply == ""){ %>
                该用户没有提交申请
                <% }else{ %>
                该用户提出申请为:<span class="global_text_warning"><%=user.apply %></span>
                <% } %>
            </span>
        </div>
    </h3>
    <div class="fourteen wide column">
        <div class="ui form" style="padding: 5px">
            <div class="four fields">
                <div class="field">
                    <label>用户身份</label>
                    <select name="role" class="ui search dropdown">
                        <option value="User">User</option>
                        <option value="Admin">Admin</option>
                        <option value="SuperAdmin">SuperAdmin</option>
                    </select>
                </div>
            </div>
            <div class="four fields">
                <div class="field">
                    <label>用户等级</label>
                    <input name="level" type="number" max="4" min="0" value="<%=user.level.num%>">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>昵称</label>
                    <input name="nickname" type="text" value="<%=user.nickname %>">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>签名</label>
                    <input name="sign" type="text" value="<%=user.sign %>">
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <span class="global_text_success">账户创建时间 <%=user.create_time %></span>
                </div>
            </div>
        </div>
    </div>
</script>



<script src="/tools/template-native.js"></script>
<script src="/tools/moment.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        var loadPage = (function(){

        })();

        var loadConfig = (function(){
            $('.applyDetailBtn').popup({on: 'click'});
            $(document).on('click', '.authorityDetailBtn', function(){
                $.ajax({
                    url: "Authority/GetOne",
                    data: {
                        userId: $(this).parent().attr("data-id")
                    },
                    type: "GET",
                    success: function(data){
                        var userDetail = data.res;

                        userDetail.create_time =  moment(userDetail.create_time).format("YYYY-MM-DD HH:mm:ss");
                        var authorityDetailTmpl = template("authorityDetailTmpl",{user: userDetail});
                        $(".authorityDetailShow .authorityConfirmChange").attr("data-id", userDetail._id);
                        $(".authorityDetailShow .description").html(authorityDetailTmpl);
                        $(".authorityDetailShow .description select").val(userDetail.role);

                        $(".authorityDetailShow").modal("show");

                    },
                    error: function(){
                        alert("获取用户信息出错");
                    }
                });
            });

            $('.authorityDetailShow').on('click', '.authorityConfirmChange', function(){
                $.ajax({
                    url: "Authority/ChangeOne",
                    type: "PUT",
                    data: {
                        userId: $(this).attr("data-id"),
                        role: $(".authorityDetailShow select[name='role']").val(),
                        level: $(".authorityDetailShow input[name='level']").val(),
                        nickname: $(".authorityDetailShow input[name='nickname']").val(),
                        sign: $(".authorityDetailShow input[name='sign']").val(),
                        create_time: new Date()
                    },
                    success: function(){
                        $('.answerPage .header').html("<h1 class='ui header green' style='text-align: center'>修改信息成功!!!</h1>");
                        $('.answerPage').modal('show');
                        setTimeout(function(){
                            window.location.reload();
                        },800);
                    },
                    error: function(){
                        $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>申请失败!!!</h1>");
                        $('.answerPage').modal('show');
                    }
                });
            });

            $(document).on('click', '.applyDetailComfirmBtn', function(){
                $.ajax({
                    url: "Authority/ChangeOne",
                    type: "PUT",
                    data: {
                        userId: $(this).attr("data-id"),
                        role: $(this).attr("data-apply"),
                        create_time: new Date()
                    },
                    success: function(){
                        $('.answerPage .header').html("<h1 class='ui header green' style='text-align: center'>批准申请成功!!!</h1>");
                        $('.answerPage').modal('show');
                        setTimeout(function(){
                            window.location.reload();
                        },800);
                    },
                    error: function(){
                        $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>批准失败!!!</h1>");
                        $('.answerPage').modal('show');
                    }
                });
            });

            $(document).on('click', '.authorityResetBtn', function(){
                $.ajax({
                    url:"Authority/ChangeOne",
                    type: "PUT",
                    data: {
                        userId: $(this).parent().attr("data-id"),
                        password: "change",
                        create_time: new Date()
                    },
                    success: function(){
                        $('.answerPage .header').html("<h1 class='ui header green' style='text-align: center'>重置密码成功!!!</h1>");
                        $('.answerPage').modal('show');
                        setTimeout(function(){
                            window.location.reload();
                        },800);
                    },
                    error: function(){
                        $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>批准失败!!!</h1>");
                        $('.answerPage').modal('show');
                    }
                });
            });

            $('.check_modal').modal('attach events', '.authorityDeleteBtn');
            $(document).on('click','.authorityDeleteBtn',function(){
                var id = $(this).parent().attr("data-id");
                $(".check_modal a.ok").attr("data-id",id);
            });

            $(".check_modal").on('click', '.deleteUser', function(event){
                event.stopPropagation();

                $.ajax({
                    url:"Authority/DeleteOne",
                    type: "delete",
                    data: {
                        userId: $(this).attr("data-id"),
                        create_time: new Date()
                    },
                    success: function(){
                        $('.answerPage .header').html("<h1 class='ui header green' style='text-align: center'>删除用户成功!!!</h1>");
                        $('.answerPage').modal('show');
                        setTimeout(function(){
                            window.location.reload();
                        },800);
                    },
                    error: function(){
                        $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>删除失败!!!</h1>");
                        $('.answerPage').modal('show');
                    }
                });
            })

        })();
    })

</script>