{{include './../headers'}}

{{include './../nav'}}

<div class="pusher">
    <div class="full height">
        <div class="header segment">
            <div class="ui three column horizontally padded grid head_info">
                <div class="equal height row">
                    <div class="red column">
                        <h3>Hello {{user}}</h3>
                    </div>
                    <div class="blue column">
                        <p>啊啊啊啊啊啊啊啊啊</p>
                    </div>
                    <div class="green column">
                        <p>这是一个长行，旁边有很多文本内容。</p>
                        <p>可能会占用很多段落。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui centered grid main container">
            <div class="fourteen wide column">
                <h1 class="ui red header"><i class="settings icon"></i><div class="content">商品管理<div class="sub header">管理你的商品</div></div></h1>
                <a href="/GoodsContr/add" class="ui labeled icon button"><i class="tag icon"></i>添加商品</a>
                <h3 class="ui horizontal header divider">
                    <i class="bar chart icon"></i>
                    已上架商品
                </h3>
                <table class="ui table">
                    <thead>
                    <tr>
                        <th class="three wide">种类</th>
                        <th class="three wide">图片</th>
                        <th class="three wide">商品名</th>
                        <th class="two wide">余量</th>
                        <th class="two wide">价格</th>
                        <th class="three wide">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{each goodList}}
                    <tr>
                        <td>{{$value.type}}</td>
                        <td><img style="width: 60px;height: 60px" src="{{$value.headSrc}}"></td>
                        <td class="global_text_danger">{{$value.name}}</td>
                        <td>{{$value.resNum}}</td>
                        <td class="global_text_success">{{$value.price}}</td>
                        <td>
                            <div class="ui buttons">
                                <a class="ui primary button" href="/GoodsContr/edit/{{$value.id}}">修改</a>
                                <div class="or"></div>
                                <button class="ui red button delete_btn" data-id="{{$value.id}}">删除</button>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!--删除确认控制-->
<div class="ui basic demo modal check_modal">
    <div class="header">
        <h1>警告</h1>
    </div>
    <div class="content">
        <div class="image" style="float: left">
            <i class="warning sign icon"></i>
        </div>
        <div class="description">
            <p>确认删除该商品吗？</p>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                不
            </div>
            <a data-href="" class="ui green ok basic inverted button">
                <i class="checkmark icon"></i>
                是
            </a>
        </div>
    </div>
</div>

<script src="/tools/template-native.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        var loadConfig = (function(){
            $('.demo.modal').modal();
            $('.basic.demo.modal').modal('attach events', '.delete_btn');

            $("table").on('click','.delete_btn',function(){
                console.log("wocao");
                var href = $(this).attr("data-id");
                $(".check_modal a.ok").attr("data-id",href);
            });

            $(".check_modal a.ok").on('click',function(){
                $.ajax({
                    url: '/GoodsContr/delete',
                    type: 'delete',
                    data:{
                        id:  $(".check_modal a.ok").attr("data-id")
                    },
                    success:function(){
                        window.location.reload();
                    },
                    error:function(){
                        alert("删除出错请重试!!");
                        window.location.reload();
                    }
                })
            });
        })();

    })

</script>

