{{include './../headers'}}

{{include './../nav'}}

<div class="pusher">
    <div class="full height">
        <div class="header segment">
            <div class="ui three column horizontally padded grid head_info">
                <div class="equal height row">
                    <div class="red column">
                        <h3>Hello {{user}}</h3>
                    </div>
                    <div class="blue column">
                        <p>啊啊啊啊啊啊啊啊啊</p>
                    </div>
                    <div class="green column">
                        <p>这是一个长行，旁边有很多文本内容。</p>
                        <p>可能会占用很多段落。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main container">
            <div class="ui grid centered">
                <table class="ui table">
                    <thead>
                    <tr>
                        <th>种类</th>
                        <th>图片</th>
                        <th>商品名</th>
                        <th>余量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{each goodList}}
                    <tr>
                        <td>{{$value.type}}</td>
                        <td></td>
                        <td>{{$value.name}}</td>
                        <td>{{$value.resNum}}</td>
                        <td></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/tools/template-native.js"></script>

<script type="text/javascript">



    $(document).ready(function(){

    })

</script>

