{{include './../headers'}}

{{include './../nav'}}

<div class="pusher">
    <div class="full height">
        {{include './../headBar'}}
        <div class="ui centered grid main container">
            <div class="ui left very close rail">
                <div class="ui vertical steps">
                    <a class="active step">
                        <i class="star icon"></i>
                        <div class="content">
                            <div class="title">等级</div>
                            <div class="description">LV.{{user.level.num}}</div>
                        </div>
                    </a>
                    <a class="step">
                        <i class="payment icon"></i>
                        <div class="content">
                            <div class="title">账户余额</div>
                            <div class="description">￥{{user.wallet}}</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="fourteen wide column" id="orderMain">
                <h1 class="ui red header"><i class="settings icon"></i><div class="content">物流管理<div class="sub header">管理订单物流</div></div></h1>
                <h3 class="ui horizontal header divider">
                    <i class="bar chart icon"></i>
                    所有物流列表
                </h3>
                {{if logisticsArray.length == 0}}
                <h3 class="global_text_danger">还没有物流消息!</h3>
                {{else}}
                {{each logisticsArray}}
                <table class="ui table">
                    <div class="ui pointing below label">
                        订单号: <span class="global_text_warning">{{$value.orderId}}</span>
                    </div>
                    <div class="ui pointing below label">
                        总价: <span class="global_text_success">{{$value.order.totalPrice}} 元</span>
                    </div>
                    <div class="ui pointing below label">
                        创建日期: <span class="global_text_success">{{$value.order.create_time | obj2date :"YYYY-MM-DD HH:mm:ss"}}</span>
                    </div>
                    <thead>
                    <tr>
                        <th class="two wide">订单详情</th>
                        <th class="two wide">图片</th>
                        <th class="three wide">商品名</th>
                        <th class="two wide">购买数</th>
                        <th class="two wide">价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{each $value.order.goodsList as good index}}
                    <tr>
                        <td>{{good.type}}</td>
                        <td><a href="/Goods/{{good.id}}"><img style="width: 60px;height: 60px" src="{{good.headSrc}}"></a></td>
                        <td class="global_text_danger">{{good.name}}</td>
                        <td>{{good.buyNum}}</td>
                        <td class="global_text_success">{{good.price}}</td>
                    </tr>
                    {{/each}}
                    {{if $value.content.length== 0}}
                    <tr class="error">
                        <td colspan="5">该订单还没有物流消息!</td>
                    </tr>
                    {{else}}
                        {{each $value.content as content x}}
                        <tr class="warning">
                            <td>{{content.main}}</td>
                            <td>{{content.date}}</td>
                        </tr>
                        {{/each}}
                    {{/if}}
                    <tr>
                        <td colspan="1">下单用户: <span class="global_text_primary">{{$value.user.username}}</span></td>
                        <td colspan="1">收货地址: <span class="global_text_primary">{{$value.user.address}}</span></td>
                        <td colspan="2">
                            <div class="ui input" style="width: 100%">
                                <input name="name" type="logistics" style="width: 100%">
                            </div>
                        </td>
                        <td colspan="1">
                            <div class="ui basic button" data-id="{{$value._id}}">
                                添加物流信息
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                {{/each}}
                {{/if}}
            </div>
            <div class="fourteen wide column loadMoreOrders" style="display: none"></div>
        </div>
    </div>
</div>

<!--反馈遮罩-->
<div class="ui modal basic answerPage">
    <div class="header"></div>
</div>

<script src="/tools/template-native.js"></script>
<script src="/tools/moment.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        var loadPage = (function(){


        })();

        var loadConfig = (function(){


        })();
    })

</script>
