{{include './../headers'}}

{{include './../nav'}}

<div class="pusher">
    <div class="full height">
        {{include './../headBar'}}
        <div class="ui centered grid main container">
            <div class="ui left very close rail">
                <div class="ui vertical steps">
                    <a class="active step">
                        <i class="star icon"></i>
                        <div class="content">
                            <div class="title">等级</div>
                            <div class="description">LV.{{user.level.num}}</div>
                        </div>
                    </a>
                    <a class="step">
                        <i class="payment icon"></i>
                        <div class="content">
                            <div class="title">账户余额</div>
                            <div class="description">￥{{user.wallet}}</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="fourteen wide column" id="orderMain">
                <h1 class="ui red header"><i class="settings icon"></i><div class="content">物流管理<div class="sub header">管理订单物流</div></div></h1>
                <h3 class="ui horizontal header divider">
                    <i class="bar chart icon"></i>
                    所有物流列表
                </h3>
                {{if logisticsArray.length == 0}}
                <h3 class="global_text_danger">还没有物流消息!</h3>
                {{else}}
                {{each logisticsArray}}
                <div class="logistics_table" style="margin-bottom: 25px">
                    <table class="ui table">
                        <div class="ui pointing below label">
                            订单号: <span class="global_text_warning">{{$value.orderId}}</span>
                        </div>
                        <div class="ui pointing below label">
                            总价: <span class="global_text_success">{{$value.order.totalPrice}} 元</span>
                        </div>
                        <div class="ui pointing below label">
                            创建日期: <span class="global_text_success">{{$value.order.create_time | obj2date :"YYYY-MM-DD HH:mm:ss"}}</span>
                        </div>
                        <thead>
                        <tr>
                            <th class="two wide">订单详情</th>
                            <th class="two wide">图片</th>
                            <th class="three wide">商品名</th>
                            <th class="two wide">购买数</th>
                            <th class="two wide">价格</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{each $value.order.goodsList as good index}}
                        <tr>
                            <td>{{good.type}}</td>
                            <td><a href="/Goods/{{good.id}}"><img style="width: 60px;height: 60px" src="{{good.headSrc}}"></a></td>
                            <td class="global_text_danger">{{good.name}}</td>
                            <td>{{good.buyNum}}</td>
                            <td class="global_text_success">{{good.price}}</td>
                        </tr>
                        {{/each}}
                        {{if $value.content.length== 0}}
                        <tr class="error">
                            <td colspan="5">该订单还没有物流消息!</td>
                        </tr>
                        {{else}}
                        {{each $value.content as content x}}
                        <tr class="warning">
                            <td colspan="4" style="border: 0px">{{content.main}}</td>
                            <td colspan="1" style="border: 0px">{{content.create_date | obj2date :"YYYY-MM-DD HH:mm:ss"}}</td>
                        </tr>
                        {{/each}}
                        {{/if}}
                        <tr>
                            <td colspan="1">下单用户: <span class="global_text_primary">{{$value.user.username}}</span><br><span style="font-size: 13px">联系方式: <span class="global_text_primary">{{$value.user.tel}}</span></span></td>
                            <td colspan="1">收货地址: <span class="global_text_primary">{{$value.user.address}}</span></td>
                            <td colspan="2">
                                <div class="ui input" style="width: 100%">
                                    <input name="logistics" type="text" style="width: 100%">
                                </div>
                            </td>
                            <td colspan="1">
                                <div class="ui basic button attachLogisticsBtn" data-id="{{$value._id}}">
                                    添加物流信息
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {{/each}}
                {{/if}}
            </div>
            <div class="fourteen wide column loadMoreOrders" style="display: none"></div>
        </div>
    </div>
</div>

<script id="logisticsTableTmpl" type="text/html">
    <% for(var i = 0;i < logisticsList.length;i ++){ %>
    <div class="logistics_table" style="margin-bottom: 25px">
        <table class="ui table">
            <div class="ui pointing below label">
                订单号: <span class="global_text_warning"><%=logisticsList[i].orderId %></span>
            </div>
            <div class="ui pointing below label">
                总价: <span class="global_text_success"><%=logisticsList[i].order.totalPrice %> 元</span>
            </div>
            <div class="ui pointing below label">
                创建日期: <span class="global_text_success"><%=obj2date(logisticsList[i].order.create_time,"YYYY-MM-DD HH:mm:ss") %></span>
            </div>
            <thead>
            <tr>
                <th class="two wide">订单详情</th>
                <th class="two wide">图片</th>
                <th class="three wide">商品名</th>
                <th class="two wide">购买数</th>
                <th class="two wide">价格</th>
            </tr>
            </thead>
            <tbody>
            <% for(var j = 0;j < logisticsList[i].order.goodsList.length;j ++){ %>
            <tr>
                <td><%=logisticsList[i].order.goodsList[j].type %></td>
                <td><a href="/Goods/<%=logisticsList[i].order.goodsList[j].id %>"><img style="width: 60px;height: 60px" src="<%=logisticsList[i].order.goodsList[j].headSrc%>"></a></td>
                <td class="global_text_danger"><%=logisticsList[i].order.goodsList[j].name %></td>
                <td><%=logisticsList[i].order.goodsList[j].buyNum %></td>
                <td class="global_text_success"><%=logisticsList[i].order.goodsList[j].price %></td>
            </tr>
            <% } %>
            <% if(logisticsList[i].content.length == 0){ %>
            <tr class="error">
                <td colspan="5">该订单还没有物流消息!</td>
            </tr>
            <% }else{ %>
            <% for(var j = 0;j < logisticsList[i].content.length;j ++){ %>
            <tr class="warning">
                <td colspan="4" style="border: 0px"><%=logisticsList[i].content[j].main %></td>
                <td colspan="1" style="border: 0px"><%=obj2date(logisticsList[i].content[j].create_date,"YYYY-MM-DD HH:mm:ss") %></td>
            </tr>
            <% } %>
            <% } %>
            <tr>
                <td colspan="1">下单用户: <span class="global_text_primary"><%=logisticsList[i].user.username %></span><br><span style="font-size: 13px">联系方式: <span class="global_text_primary"><%=logisticsList[i].user.tel %></span></span></td>
                <td colspan="1">收货地址: <span class="global_text_primary"><%=logisticsList[i].user.address %></span></td>
                <td colspan="2">
                    <div class="ui input" style="width: 100%">
                        <input name="logistics" type="text" style="width: 100%">
                    </div>
                </td>
                <td colspan="1">
                    <div class="ui basic button attachLogisticsBtn" data-id="<%=logisticsList[i]._id %>">
                        添加物流信息
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <% } %>
</script>

<!--反馈遮罩-->
<div class="ui modal basic answerPage">
    <div class="header"></div>
</div>

<script src="/tools/template-native.js"></script>
<script src="/tools/moment.min.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        var loadPage = (function(){
            template.helper('obj2date', function (obj, format) {
                if(!!obj){
                    return  moment(obj).format(format)
                }else{
                    return ""
                }
            });

            scrollLoadingLock = false;
            loadIndex = 1;
            $(window).scroll(function(){
                var scrollPos = $(window).scrollTop();
                totalHeight = parseFloat($(window).height()) + parseFloat(scrollPos);
                if( $(document).height() - 20 <= totalHeight && !scrollLoadingLock){
                    $(".loadMoreOrders").html('<h1 class="ui center aligned header orange"><i class="notched circle loading icon"></i>加载更多...</h1>');
                    $(".loadMoreOrders").show();
                    scrollLoadingLock = true;

                    $.ajax({
                        url: "/LogisticsContr/loadMore",
                        data: {
                            loadIndex: loadIndex
                        },
                        type: "GET",
                        success: function(data){
                            var logisticsList = data.res;
                            if(logisticsList.length != 0){
                                var logisticsTableTmpl = template('logisticsTableTmpl', {logisticsList: logisticsList});

                                $(".loadMoreOrders").hide();
                                $("#orderMain").append(logisticsTableTmpl);

                                setTimeout(function(){
                                    scrollLoadingLock = false;
                                    loadIndex += 1;
                                }, 500);
                            } else {
                                $(".loadMoreOrders").html('<h1 class="ui center aligned header orange"><i class="frown icon"></i>已无更多数据啦</h1>');
                                $(".loadMoreOrders").show();
                            }
                        },
                        error: function(){
                            $(".loadMoreOrders").html('<h1 class="ui center aligned header orange"><i class="frown icon"></i>加载失败,请检查一下网络</h1>');
                            $(".loadMoreOrders").show();
                        }
                    });
                }
            })
        })();

        var loadConfig = (function(){
            $(document).on('click', '.attachLogisticsBtn', function(){
                var newLogistics = $(this).parent().prev().find("input[name='logistics']").val();
                if(newLogistics != ""){
                    $.ajax({
                        url:"/LogisticsContr/update",
                        type:"PUT",
                        data: {
                            id: $(this).data("id"),
                            newLogistics: newLogistics,
                            date: new Date()
                        },
                        success:function(){

                            setTimeout(function(){
                                window.location.reload();
                            },0);
                        },
                        error:function(){
                            $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>添加失败!!!</h1>");
                            $('.answerPage').modal('show');
                        }
                    })
                } else {
                    $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>请先填写内容!!!</h1>");
                    $('.answerPage').modal('show');
                }
            })
        })();
    })

</script>
