{{include './../headers'}}

{{include './../nav'}}

<div class="pusher">
    <div class="full height">
        <div class="header segment">
            <div class="ui three column horizontally padded grid head_info">
                <div class="equal height row">
                    <div class="red column">
                        <h3>Hello {{user.username}}</h3>
                    </div>
                    <div class="blue column">
                        <p>当前账户余额: <span class="global_text_danger">{{user.wallet || 0}}</span> 元</p>
                    </div>
                    <div class="green column">
                        <p>这是一个长行，旁边有很多文本内容。</p>
                        <p>可能会占用很多段落。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui centered grid main container">
            <div class="ui left very close rail">
                <!--<div class="ui segment">-->
                <div class="ui vertical steps">
                    <a class="completed step">
                        <i class="truck icon"></i>
                        <div class="content">
                            <div class="title">上一步</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                    <a class="active step">
                        <i class="payment icon"></i>
                        <div class="content">
                            <div class="title">当前步骤</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                    <a class="disabled step">
                        <i class="info icon"></i>
                        <div class="content">
                            <div class="title">禁用步骤</div>
                            <div class="description">描述</div>
                        </div>
                    </a>
                </div>
                <!--</div>-->
            </div>

            <div class="ui right very close rail">
                <div class="ui segment">
                    右侧轨道
                </div>
            </div>

            <div class="fourteen wide column">
                <h1 class="ui red header"><i class="settings icon"></i><div class="content">订单管理<div class="sub header">管理你的订单</div></div></h1>
                <h3 class="ui horizontal header divider">
                    <i class="bar chart icon"></i>
                    你的订单列表
                </h3>
                {{if ordersList.length == 0}}
                <h3 class="global_text_danger">还没有订单信息,快去买买买吧!</h3>
                {{else}}
                {{each ordersList}}
                <table class="ui table">
                    <button class="ui red right ribbon label delete_btn" data-id="{{$value.id}}">删除该订单</button>
                    <div class="ui pointing below label">
                        订单号: <span class="global_text_warning">{{$value.id}}</span>
                    </div>
                    <div class="ui pointing below label">
                        总价: <span class="global_text_success">{{$value.totalPrice}}</span> 元
                    </div>
                    <div class="ui pointing below label">
                        创建日期: <span class="global_text_success">{{$value.create_time | obj2date :"YYYY-MM-DD HH:mm:ss"}}</span>
                    </div>
                    <thead>
                    <tr>
                        <th class="two wide">商品类型</th>
                        <th class="two wide">图片</th>
                        <th class="three wide">商品名</th>
                        <th class="two wide">购买数</th>
                        <th class="two wide">价格</th>
                        <th class="five wide">评论</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{each $value.goodsList as good index}}
                    <tr>
                        <td>{{good.type}}</td>
                        <td><a href="/Goods/{{good.id}}"><img style="width: 60px;height: 60px" src="{{good.headSrc}}"></a></td>
                        <td class="global_text_danger">{{good.name}}</td>
                        <td>{{good.buyNum}}</td>
                        <td class="global_text_success">{{good.price}}</td>
                        <td>
                            {{if good.comment.grade == -1}}
                            <span class="global_text_warning">未评论 </span><a href="#" class="setComment createNewComment" data-orderId="{{$value.id}}" data-goodId="{{good.id}}">点击评论<i class="icon comment outline"></i></a>
                            {{else}}
                                {{if good.comment.grade == 0}}
                                <div class="ui red horizontal label">差评</div>
                                {{else}}
                                <div class="ui green horizontal label">好评</div>
                                {{/if}}
                                {{good.comment.content}}
                                <a href="#" class="setComment updateComment" data-orderId="{{$value.id}}" data-goodId="{{good.id}}" data-commentGrade="{{good.comment.grade}}" data-commentContent="{{good.comment.content}}">点击修改<i class="icon comment outline"></i></a>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
                {{/each}}
                {{/if}}
            </div>

        </div>
    </div>
</div>

<!--删除确认控制-->
<div class="ui basic demo modal check_modal">
    <div class="header">
        <h1>警告</h1>
    </div>
    <div class="content">
        <div class="image" style="float: left">
            <i class="warning sign icon"></i>
        </div>
        <div class="description">
            <p>确认删除该订单吗？</p>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                不
            </div>
            <a data-href="" class="ui green ok basic inverted button deleteGood">
                <i class="checkmark icon"></i>
                是
            </a>
        </div>
    </div>
</div>

<!--反馈遮罩-->
<div class="ui modal basic answerPage">
    <div class="header"></div>
</div>

<!--评论详情模态框-->
<div class="ui long coupled modal setCommentModal"></div>

<!--评论详情模板-->
<script id="setCommentTmpl" type="text/html">
    <i class="close icon"></i>
    <div class="content">
        <div class="description">
            <h3 class="ui horizontal header divider">
                <i class="comment outline icon"></i>
                评论
            </h3>
            <div class="ui form" style="margin-top: 20px">
                <div class="two fields">
                    <div class="field">
                        <label>评价</label>
                        <div class="ui toggle checkbox">
                            <input name="isLike" type="checkbox">
                            <label>好评</label>
                        </div>
                    </div>
                </div>
                <div class="commentContent">
                    <label>评论内容</label>
                    <textarea></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button class="ui green button setCommentConfirmBtn" data-orderId="<%=orderId %>" data-goodId="<%=goodId %>" id="<%=btnId %>">
            保存
            <i class="right save icon"></i>
        </button>
    </div>
</script>


<script src="/tools/template-native.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        var loadConfig = (function(){
            $('.demo.modal').modal();
            $('.basic.demo.modal').modal('attach events', '.delete_btn');

            $(document).on('click','.delete_btn',function(){
                var href = $(this).attr("data-id");
                $(".check_modal a.ok").attr("data-href",href);
            });

            $(".check_modal .deleteGood").on('click',function(){
                $.ajax({
                    url: '/Orders/delete',
                    type: 'delete',
                    data:{
                        id:  $(".check_modal .deleteGood").attr("data-href"),
                        create_time: new Date()
                    },
                    success:function(){
                        window.location.reload();
                    },
                    error:function(){
                        alert("删除出错请重试!!");
                        window.location.reload();
                    }
                })
            });

//            $(".setCommentModal").modal({}).modal('attach events','.setComment');
            $("table").on('click', '.setComment', function(event){
                event.stopPropagation();
                switch ($(this).attr("class")){
                    case "setComment createNewComment":
                        var setCommentTmpl = template("setCommentTmpl",{orderId:$(this).attr("data-orderId"), goodId:$(this).attr("data-goodId"), btnId:"setComment"});
                        $(".setCommentModal").html(setCommentTmpl);
                        $(".setCommentModal").modal("show");
                        break;
                    case "setComment updateComment":
                        var setCommentTmpl = template("setCommentTmpl",{orderId:$(this).attr("data-orderId"), goodId:$(this).attr("data-goodId"), btnId:"updateComment"});
                        $(".setCommentModal").html(setCommentTmpl);
                        if(parseInt($(this).attr("data-commentGrade")) == 1){
                            $(".setCommentModal input").attr("checked",true)
                        }
                        $(".setCommentModal textarea").val($(this).attr("data-commentContent"));
                        $(".setCommentModal").modal("show");
                        break;
                }
            });

            $(".setCommentModal").on("click","#setComment",function(){
                var isLike = 0;
                if($(".setCommentModal input[name='isLike']").is(":checked")){
                    isLike = 1;
                }

                $.ajax({
                    url: "/Comment/add",
                    type: "POST",
                    data: {
                        orderId: $(this).attr("data-orderId"),
                        goodId: $(this).attr("data-goodId"),
                        grade: isLike,
                        content: $(".setCommentModal textarea").val(),
                        create_time: new Date()
                    },
                    success: function(){
                        $('.answerPage .header').html("<h1 class='ui header green' style='text-align: center'>评论成功</h1>");
                        $('.answerPage').modal('show');
                        setTimeout(function(){
                            window.location.reload();
                        },700);
                    },
                    error: function(){
                        $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>评论失败</h1>");
                        $('.answerPage').modal('show');
                    }
                });
            });

            $(".setCommentModal").on("click","#updateComment",function(){
                var isLike = 0;
                if($(".setCommentModal input[name='isLike']").is(":checked")){
                    isLike = 1;
                }

                $.ajax({
                    url: "/Comment/update",
                    type: "PUT",
                    data: {
                        orderId: $(this).attr("data-orderId"),
                        goodId: $(this).attr("data-goodId"),
                        grade: isLike,
                        content: $(".setCommentModal textarea").val(),
                        modify_time: new Date()
                    },
                    success: function(){
                        $('.answerPage .header').html("<h1 class='ui header green' style='text-align: center'>评论成功</h1>");
                        $('.answerPage').modal('show');
                        setTimeout(function(){
                            window.location.reload();
                        },700);
                    },
                    error: function(){
                        $('.answerPage .header').html("<h1 class='ui header red' style='text-align: center'>评论失败</h1>");
                        $('.answerPage').modal('show');
                    }
                });
            });
        })();
    })

</script>

