<!--订单详情模态框-->
<div class="ui long coupled modal shoppingCartDetailShow">
    <i class="close icon"></i>
    <div class="content">
        <div class="description">
            <h3 class="ui horizontal header divider">
                <i class="shop icon"></i>
                你的订单
            </h3>
            <!--<form class="ui form">-->
                <table class="ui table">
                    <thead>
                    <tr>
                        <th class="three wide">商品类型</th>
                        <th class="three wide">图片</th>
                        <th class="three wide">商品名</th>
                        <th class="two wide">购买数</th>
                        <th class="two wide">价格</th>
                        <th class="three">删除</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{each user.shoppingCart}}
                    <tr data-id="{{$value._id}}">
                        <td>{{$value.type}}</td>
                        <td><a href="/Goods/{{$value._id}}"><img style="width: 60px;height: 60px" src="{{$value.headSrc}}"></a></td>
                        <td class="global_text_danger">{{$value.name}}</td>
                        <td class="ui input" style="padding-top: 25px"><input min="0" max="{{$value.resNum}}" type="number" name="buyNum" value="{{$value.buyNum}}"></td>
                        <td class="global_text_success price">{{$value.price}}</td>
                        <td><button class="ui red button deleteShoppingCartBtn">删除</button></td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            <!--</form>-->
        </div>
    </div>
    <div class="actions">
        <button class="ui orange button buyShoppingCartShow">
            购买全部
            <i class="right payment icon"></i>
        </button>
    </div>
</div>

<!--删除确认控制-->
<div class="ui basic coupled second modal buyShoppingCartModal">
    <div class="header">
        <h1>购买确认</h1>
    </div>
    <div class="content">
        <div class="image" style="float: left">
            <i class="shop orange icon"></i>
        </div>
        {{if user.secPassword == ""}}
        <div class="description">
            <p>确认清空购物车吗？</p>
            <p class="global_text_warning"><i class="warning red sign icon"></i>警告:您尚未设置二级密码,为保证用户安全请尽快<a href="/personalInfo" style="color: orangered">前往设置</a></p>
        </div>
        {{else}}
        {{/if}}
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui red basic cancel inverted button returnCartBtn">
                <i class="remove icon"></i>
                慢着!
            </div>
            <a class="ui green ok basic inverted button confirmBuyShoppingCart">
                <i class="checkmark icon"></i>
                说清就清!
            </a>
        </div>
    </div>
</div>

<script src="/tools/jquery-2.0.3.min.js"></script>
<script src="/tools/semanticUI/semantic.min.js"></script>

<script>
    var isClickBack = true;  //点击控制，防止点击购买全部时依然刷新
    var ShoppingCartObj = {};

    var buildShoppingCartObj = function (controller) {
        if(controller){
            isClickBack = false;
        }
        ShoppingCartObj = {};
        $(".shoppingCartDetailShow table tbody tr").each(function(){
            if( $(this).find("input[name='buyNum']").val() != 0 ){
                var goodObj = {};
                goodObj["id"] = $(this).attr("data-id");
                goodObj["buyNum"] = parseInt( $(this).find("input[name='buyNum']").val() );

                ShoppingCartObj[$(this).attr("data-id")] = goodObj;
            }
        });
    }

    //控制购买数量
    $(document).on('keyup',"input[name='buyNum']",function(){
        if($(this).val() > parseInt($(this).attr("max"))){
            $(this).val($(this).attr("max"));
        }
    });

    //模态框相关
    $('.coupled.modal').modal({allowMultiple: false});
    $('.second.modal').modal('attach events', '.buyShoppingCartShow' );
    $('.second.modal').modal('attach events', '.quickShoppingCartBtn');
    $(".shoppingCartDetailShow").modal({
        onHide:function () {
            setTimeout(function () {
                if(isClickBack){
                    $(".loading_page").html('<div class="ui text loader">重构页面...</div>');
                    $(".loading_page").dimmer('show');

                    buildShoppingCartObj();
                    console.log(ShoppingCartObj);
//                    window.location.reload()
                }else {
                    isClickBack = true;
                }
            },0);

        },
        onHidden:function () {

        }
    }).modal('attach events','.returnCartBtn');


    //购物车删除商品
    $(".shoppingCartDetailShow").on("click",".deleteShoppingCartBtn",function(){
        var loc = $(this);

        console.log($(this).parent().parent().attr("data-id"));
        $.ajax({
            url: "/ShoppingCart/delete",
            type: "delete",
            data: {
                id: $(this).parent().parent().attr("data-id")
            },
            success: function(){
                loc.parent().parent().remove();
            },error: function(){
                alert("删除失败!!")
            }
        });
    });


    //点击购买全部后生成购物单对象
    $(".shoppingCartDetailShow").on("click",".buyShoppingCartShow",function () {
        buildShoppingCartObj(true);
    });


    $(".buyShoppingCartModal").on("click", ".confirmBuyShoppingCart", function(){
        $.ajax({
            url: "/ShoppingCart",
            type: "POST",
            data: {
                ShoppingCartObj: JSON.stringify(ShoppingCartObj),
                create_time: new Date()
            },
            success: function(){
                window.location.href = "/ShoppingCart/paySucceed"
            },
            error: function(){
                alert("购买失败");
            }
        })
    });

    $(".quickShoppingCartBtn").on('click', function(){
        alert("wocao")
    });


</script>
