{{include './../headers'}}

{{include './../nav'}}

<div class="pusher">
    <div class="full height">
        {{include './../headBar'}}

        <div class="ui grid main container buyControl" style="padding: 0">
            <div class="ui right very close rail">
                <div class="ui segment">
                    右侧轨道
                </div>
            </div>
            <h3 class="ui horizontal header divider"><i class="tag icon"></i></h3>
            <div class="doubling two column row relaxed">
                <div class="column">
                    <div class="ui card" style="width: 80%;margin: 0px auto">
                        <div class="image">
                            {{if goodDetail.sales > 100}}
                            <a class="ui corner red label"><i class="heart icon"></i></a>
                            {{else}}
                            <a class="ui corner label"><i class="heart icon"></i></a>
                            {{/if}}
                            <img src="{{goodDetail.headSrc}}">
                        </div>
                        <div class="extra">
                            <!--<div class="ui star rating" data-rating="3"></div>-->
                            <!--<div data-rating="3" class="ui star rating"><i class="icon active"></i><i class="icon active"></i><i class="icon active"></i><i class="icon"></i></div>-->
                            <span class="global_text_danger" style="font-weight: bold">总销量:{{goodDetail.sales || 0}}</span>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <div class="content" style="margin-top: 30px">
                        <h1 class="header">{{goodDetail.name}}</h1>
                    </div>
                    <div class="meta">
                        <p style="">{{goodDetail.type}}</p>
                    </div>
                    <div class="description" style="padding-left:10px;height:50px;line-height:50px;margin-top: 20px;background-color:#F1F1F1;width: 70%;">
                        <div class="ui two column centered grid">
                            <div class="column"><h3>价格:</h3></div>
                            <div class="column"><h1 class="ui red header">{{goodDetail.price}}元</h1></div>
                        </div>
                    </div>
                    <div class="ui form" style="margin-top: 20px">
                        <!--<div class="three fields">-->
                            <div class="inline field">
                                <label>购买数量:</label>
                                <input type="number" name="goodDetailPageBuyNum" min="1" value="1" max="{{goodDetail.resNum}}"> <label style="color:orange"> 剩余存货: {{goodDetail.resNum}}</label>
                            </div>
                        <!--</div>-->
                    </div>
                    <h3 class="ui horizontal header divider"><i class="chevron circle down icon"></i></h3>
                    <div class="ui large button orange addShoppingCart">加入购物车</div><br><br>
                    <div class="ui large button red buyNow">立即购买</div>
                </div>
            </div>
        </div>

        <div class="ui centered grid main container goodContent">
            <div class="fourteen wide column row" style="max-height: 50px">
                <div class="ui secondary orange pointing two item menu goodContentControl" style="max-height: 40px">
                    <a class="item active" id="goodInfoTab">商品介绍</a>
                    <a class="item" id="customerCommentTab">买家评价</a>
                </div>
            </div>
            <div class="fifteen wide column goodDetailShow">
                {{#goodDetail.content}}
            </div>
            <div class="fifteen wide column customerCommentShow">
                {{if commentDetail.length == 0}}
                <h2 class="ui red header" style="text-align: center">当前还没有评论哟~</h2>
                {{else}}
                <div class="ui feed">
                    {{each commentDetail}}
                    <div class="event">
                        <div class="label">
                            {{if $value.grade == 1}}
                            <i class="chevron up green icon"></i>
                            {{else}}
                            <i class="chevron down red icon"></i>
                            {{/if}}
                        </div>
                        <div class="content">
                            <div class="summary">
                                <span style="font-size: 18px;font-weight: bold">{{$value.customerNickName}}</span>
                                <div class="date">
                                    {{$value.create_time | obj2date :"YYYY-MM-DD HH:mm:ss"}}
                                </div>
                            </div>
                            <div class="extra text">
                                {{$value.content}}
                            </div>
                            <div class="meta">
                                <a>{{$value.goodName}}</a>
                                <a>{{$value.price}}元</a>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>

<!--删除确认控制-->
<div class="ui basic modal check_modal">
    <div class="header">
        <h1>购买确认</h1>
    </div>
    <div class="content">
        <div class="image" style="float: left">
            <i class="payment green icon"></i>
        </div>
        {{if user.secPassword == ""}}
        <div class="description">
            <p>确认购买该商品吗？</p>
            <p class="global_text_warning"><i class="warning red sign icon"></i>警告:您尚未设置二级密码,为保证用户安全请尽快<a href="/personalInfo" style="color: orangered">前往设置</a></p>
        </div>
        {{else}}
        <div class="ui input description">
            <p style="color: white">确认购买该商品吗？
                {{if user.level.num > 0}}
                <span class="global_text_success">( {{user.level.num}} 级用户可享受 <span class="global_text_danger">{{user.level.discount * 10}}</span> 折优惠哦 )</span>
                {{/if}}
            </p>
            <p class="global_text_warning">请输入二级密码并点击确认</p><input name="goodDetailPageSecPass" type="password" style="color: black">
        </div>
        {{/if}}
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                容我三思
            </div>
            <a class="ui green ok basic inverted button confirmBuy">
                <i class="checkmark icon"></i>
                确认购买
            </a>
        </div>
    </div>
</div>

<!--清空购物车确认控制-->
<div class="ui modal basic addSuccess">
    <div class="header">
        <h1 class="ui header green" style="text-align: center">添加购物车成功</h1>
    </div>
</div>

<script src="/tools/template-native.js"></script>
<script type="text/javascript">

    $(document).ready(function(){
        var loadPage = (function(){
            $(".customerCommentShow").hide();
        })();

        var loadConfig = (function(){
            $('.ui.rating').rating();

            $('.check_modal').modal();

            $('.check_modal').modal('attach events', '.buyNow');

            //控制购买数量
            $(document).on('keyup',"input[name='buyNum']",function(){
                if($(this).val() > parseInt($(this).attr("max"))){
                    $(this).val($(this).attr("max"))
                }
            });

            //切换商品内容显示
            $(".goodContentControl").on("click", "a", function(event){
                event.stopPropagation();
                switch ($(this).attr("id")){
                    case "goodInfoTab":
                        $(".goodContentControl a").removeClass("active");
                        $(this).addClass("active");
                        $(".goodDetailShow").show();
                        $(".customerCommentShow").hide();
                        break;
                    case "customerCommentTab":
                        $(".goodContentControl a").removeClass("active");
                        $(this).addClass("active");
                        $(".goodDetailShow").hide();
                        $(".customerCommentShow").show();
                        break;
                }
            });

            //添加购物车按钮
            $('.addSuccess').modal('attach events', '.addShoppingCart' );
            $(".addShoppingCart").on('click',function(event){
                $('.addSuccess').modal('show');
                setTimeout(function(){ $('.addSuccess').modal('hide'); },600);

                event.stopPropagation();
                $.ajax({
                    url:"/ShoppingCart/add",
                    type:"PUT",
                    data:{
                        goodId: "{{goodDetail.id}}"
                    },
                    success:function(){
                        RefreshShoppingCart();
                    },
                    error:function(){
                        $(".loading_page").html('<h1 class="ui header model_inner red">添加失败,请再重试一次...</div>');
                        $(".loading_page").dimmer('show');
                    }
                });
            });

            //购买按钮
            {{if user.secPassword == ""}}
            $(document).on('click','.buttons .confirmBuy',function(){
                $.ajax({
                    url:"/Goods",
                    type:"POST",
                    data:{
                        goodId: "{{goodDetail.id}}",
                        buyNum: parseInt($("input[name='goodDetailPageBuyNum']").val()),
                        create_time: new Date()
                    },
                    success:function(){
                        window.location.href="/Goods/paySucceed/{{goodDetail.id}}";
                    },
                    error: function (){
                        alert("购买失败");
                        $(".loading_page").dimmer('hide');
                        window.location.reload();
                    }
                });
            });
            {{else}}
            $(document).on('click','.buttons .confirmBuy',function(){
                $.ajax({
                    url:"/Personal/CheckSecPass",
                    type:"POST",
                    data:{
                        secPass: $("input[name='goodDetailPageSecPass']").val()
                    },
                    success:function(){
                        $.ajax({
                            url:"/Goods",
                            type:"POST",
                            data:{
                                goodId: "{{goodDetail.id}}",
                                buyNum: parseInt($("input[name='goodDetailPageBuyNum']").val()),
                                create_time: new Date()
                            },
                            success:function(){
                                window.location.href="/Goods/paySucceed/{{goodDetail.id}}";
                            },
                            error: function (){
                                alert("购买失败");
                                $(".loading_page").dimmer('hide');
                                window.location.reload();
                            }
                        });
                    },
                    error: function (){
                        alert("二级密码输入错误");
                        $(".loading_page").dimmer('hide');
                        window.location.reload();
                    }
                });
            });
            {{/if}}
        })();

    })

</script>
